*:not(head) {
    display: flex;
}

body {
    width: 100%;
    align-items: center;
}

p {
    margin: 5px 0;
}

nav {
    display: block;
}

.name {
    font-size: 48px;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    align-items: center;
}

.flex-container {
    font-size: 24px;
    background-color: green;
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

.small-caption-phonebook {
    color: aqua;
    position: absolute;
    top: 127%;
    left: 50%;
}

.small-caption-lemonade {
    color: aqua;
    position: absolute;
    top: 160%;
    left: 51%;
}

.small-caption-string {
    color: aqua;
    position: absolute;
    top: 194%;
    left: 49%;
}

.big-caption {
    color: aqua;
    position: absolute;
    top: 93%;
    left: 37%;
}

.big-container {
    font-size: 64px;
    background-color: green;
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

.link-no-underline {
    color: black;
}

.profile-header {
    align-items: center;
}

.profile-pic{
    width: 115px;
    height: 150px;
}

.separation {
    margin: 50px 0px 20px;
    font-size: 64px;
}

a {
    margin: 0px 20px;
}

.contact-links {
    margin: 10px;
}