*:not(head) {
    display: flex;
}

body {
    width: 100%;
    align-items: center;
}

nav {
    display: block;
}

.name {
    font-size: 48px;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    align-items: center;
}

.flex-container {
    background-color: green;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    width: 300px;
}

.big-container {
    font-size: 64px;
    background-color: green;
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

.link-no-underline {
    text-decoration: none;
}

.profile-header {
    align-items: center;
}

.profile-pic{
    width: 115px;
    height: 150px;
}

.separation {
    margin: 50px 0px 20px;
    font-size: 64px;
}

a {
    margin: 0px 20px;
}

.contact-links {
    margin: 10px;
}